 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body start */
body {
  /* background-color: white; */
  /* height: 100vh; */
}
/* Body End */

/* start pc row */

.container {
  display: flex;
  width: calc(100% -15px);
  margin: 0 30px;
  flex-direction: row;
}

.titleOfGame {
  /* display: flex; */
  justify-content: center;
  margin-top: 90px;
}

.pc_row,
.player_row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}

.card {
  /* width: calc(50% / 6); */
  min-width: 150px;
  /* flex-grow: 1; */
  background-color: teal;
  color: white;
  text-align: center;
  padding: 30px 5px;
  border: 5px solid white;
  display: block;
  /* height: 100%; */
}

.card img {
  width: 30px;
}

.rightLeftControllers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5px;
  /* height: 100%; */
  /* flex-direction: column; */
  /* width: calc(100% + 5px); */
}

.rightLeftControllers button {
  display: flex;
  height: 20px;
  width: 30px;
}
/* #pc_row {
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 30px;
} */

/* .pc0,
.pc1,
.pc2,
.pc3,
.pc4,
.pc5,
.card {
  display: flex;
  width: 15%;
  border: 5px solid blue;
  margin-top: 90px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  margin-left: 10px;
} */

/* #player_row {
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 30px;
} */

.player0,
img {
  /* width: 160px; */
}

/* .player0,
.player1,
.player2,
.player3,
.player4,
.player5 {
  display: flex;
  width: 15%;
  border: 5px solid blue;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 90px;
  padding: 30px;
  margin-left: 10px;
} */

/* .arowBtns {
  width: 40%;
  display: flex;
  justify-content: space-between;
} */

/* btns and images */

/* .arowBtns button {
  margin-top: 10px;
  padding: 10px;
  width: 10px;
}
.arowBtns img {
  margin-top: 10px;
  padding: 10px;
  width: 50px;
} */
/* end pc row */
/* #reset {
} */
